body {
  font-family: Arial, sans-serif;
  color: rgb(129, 81, 22);

  background: linear-gradient(red, yellow, beige);
}

H1 {
  color: rgb(210, 47, 137);
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;

  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
Li {
  list-style: none;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-weight: 100;
  line-height: 19px;
  color: rgb(135, 135, 135);
}
li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -32px;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
